html{
  scroll-behavior: smooth;
}
body{
  background-image:url("background.png");

}

* {
  box-sizing: border-box;
}

#top{
  display:none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: gold;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#top:hover{
  background-color: #555;
}

#navs{
  border : 2px solid black;
  z-index: 98;
}

.navbar {
  width: 75%;
  background-color: dimgrey;
  overflow: auto;
  /* position:fixed; */
  margin: 1px auto;
  left:50%
  top:50%

}


.navbar a {
float: left;
padding: 6px;
color: black;
text-decoration: none;
font-size: 16px;
width: 25%;
text-align:center;
}

.navbar a:hover{
  background-color: #000;
}

.navbar a.active {
  background-color: whitesmoke;
}


h1 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding 0;
}

.heading {
  margin: auto;
  width: 50%;
  text-align: center;
  padding 10px;
  background-color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  z-index: 97;
}
.columnimg {
  float: right;
  width: 45%;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  z-index: 97;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #555;
  object-fit: scale-down;
  float: left;
  vertical-align: middle;
  max-width: 500px;
  max-height: 300px;
}

@media screen and (max-width: 650px) {
  .navbar a{
    float: none;
    display: block;
    width: 100%;
    text-align:left;
  }
  .column {
    width: 100%;
  }
}

.slides1 {
  display: none;
}

.slides2 {
  display: none;
}

.slides3 {
  display: none;
}

footer{
  background-color: white;
  border: 1px solid black;
}

/*
.slideshow {
  max-width: :1000px;
  position: relative;
  margin: auto;
}

.buttonleft,
.buttonright {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.buttonright {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.buttonleft:hover, .buttonright:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
} */
