<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,300&display=swap" rel="stylesheet">

* {
  font-family: arial, sans-serif;
  background-color: #F5F5F5;
}

body {
  margin: 0 auto;
  width: 1349px;
  max-width: 1349px;
}

h3 {
  font: bold 2em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  color: #3A3A3A;
  margin: 10px auto;
}

div.menu {
    border: solid 2px #6A6A6A;
    background-color: #E1E1E1;
    width: 40%;
    margin: 40px auto 16px;
    padding: 20px 10px 20px;
    /* position: sticky;
    top:0px;
    z-index: 1; */
}

div.menu a {
  font: normal 0.90em 'Source Sans Pro light 300', Arial, sans-serif;
  color: #3A3A3A;
  margin: 0.5em;
}

h1.webTitle {
  font: bold 3.5em 'Source Sans Pro', Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

p.introText {
  font: normal 1em 'Source Sans Pro light 300', Arial, sans-serif;
  color: #888888;
  margin: 20px auto;
  text-align: center;
}

hr {
  width: 80%;
}

div.textBox {
  display: block;
  position: relative;
  margin: 0 auto;
}

div.textBox2 {
  display:block;
  float:none;
  position:relative;
  left:128px;
  padding:0px;
  width:80%;
  text-align:center;
  margin: 100px 0px 40px 0px;
  border:2px solid #777;
  border-radius: 10px;
}

div.textBox h3 {
  font: bold 3em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  color: #3A3A3A;
  margin: 10px auto;
}

div.textBox2 h3 {
  font: bold 3em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  color: #3A3A3A;
  margin: 10px auto;
}

div.textBox p {
  font: bold 1.7em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  color: #888;
  margin: 7px auto;
}

div.textBox2 p {
  font: normal 1.3em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  margin: 7px auto;
}

div.names p {
  font:bold 2em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  color: #3A3A3A;
  margin:0;
  display: block;
  position: relative;
  float: right;
}

div.buttons {
  font: bold 2.5em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  height: 40px;
  width: 40px;
  text-align: center;
  color: #888;
  background-color: #DDD;
  display: block;
  float: right;
  position: relative;
  border: 2px solid #888;
  border-radius: 6px;
  top: 130px;
}

div.verticalBox {
  display: block;
  position: relative;
  margin:0;
  width:340px;
  height:1800px;
  /* border: 2px solid #000;
  border-radius:10px; */
}

div.imageBox {
  display: block;
  position: relative;
  width:300px;
  height:300px;
  /* border: 2px solid #777;
  border-radius:10px; */
  margin:30px auto 0px;
}

div.verticalBox h3 {
  text-align: center;
}

div.verticalBox p {
  font: bold 1.3em 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  color: #888;
  margin: 7px auto;
  padding-bottom: 30px;
  text-align: center;
}
